__pycache__/
env/
.idea/
.ipynb_checkpoints/
*.pyc
*.so
.vscode/
build/
*.egg-info/
dist/
data/


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
